<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.a.mapper.HA_ProductAttachMapper">
	
	<insert id="insert"> 
		insert into tbl_product_image (uuid, uploadPath, fileName, fileType, product_id)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{product_id})
	</insert>
	
	
	<delete id="delete">
		delete from tbl_product_image 
		where uuid=#{uuid}
	</delete>
	

	<select id="findByBno" resultType="org.a.domain.HA_ProductAttachVO">
		select * from tbl_product_image where product_id=#{product_id}
	</select> 

</mapper>